# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: build

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
  schedule:
    - cron: '20 3 * * 5'

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    name: Build
    runs-on: "ubuntu-18.04"
    steps:
      - name: Checkout GitHub code
        uses: actions/checkout@v2

      - name: Read Keycloak version from .env file
        id: getversion
        run: echo "::set-output name=version::$(grep 'KC_VERSION' .env | cut -d'=' -f2)"

      - name: Scan Keycloak with Trivy
        uses: aquasecurity/trivy-action@2a2157eb22c08c9a1fac99263430307b8d1bc7a2
        with:
          image-ref: 'quay.io/keycloak/keycloak:${{ steps.getversion.outputs.version }}'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-keycloak.sarif'
          severity: 'CRITICAL,HIGH'

      - name: Upload scan Keycloak results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: 'trivy-keycloak.sarif'
